body {
  background: #fff;
  color: #333;
}

canvas {
  width: 100% !important;
  height: auto !important;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#map-chart-container {
  width: 25%;
}

#button-container {
}

#line-chart-container {
  width: 50%;
}

#pie-chart-container {
  height: 300px;
  width: 300px;
}

.donut-chart-container {
  float: bottom;
}
