body {
  background: #fff;
  color: #333;
}

canvas {
  width: 100% !important;
  height: auto !important;
}

#container {
  float: left;
  width: 100%;
}

#map-chart-container {
  width: 25%;
  height: 600px;
  float: left;
}

.line-chart-container {
  height: 600px;
  width: 50%;
  /* margin-top: 15%; */
  float: left;
}

.pie-chart-container {
  float: left;
  height: 500px;
  width: 500px;
  margin-top: 20px;
}

.donut-chart-container {
  float: bottom;
}
